/auto-save-list/
/eln-cache/
/transient/
/.cache/
/eshell/
/url/
/snippets/
/.org-id-locations
/undo-fu-session/
/tramp
/Test/tmp/
*#*
/custom.el
/elpa/
/abbrev_defs
/Test/.ob-jupyter/
/recentf
/projects
/multisession/
*~